* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 60px;
}

h1 {
    margin-bottom: 20px;
}

ol {
    margin: 30px 0 0 15px;
}

ol li {
    padding-left: 10px;
    margin-bottom: 10px;
}

h2.countdown {
    margin-top: 30px;
    font-size: 40px;
}

h2 {
    margin: 30px 0;
}